html, body {
	background-color: whitesmoke;
	background-image: url(./images/bg1.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

main {
	background-color: #fffa;
}
.header-top {
	padding: 10px;
	margin: 5px;
	background-color: none;
	position: relative;
	z-index: 1px;
	min-width: 940px;
}

.header-top .content {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.header-top .content h1 {
	font-family: 'Silkscreen', cursive;
	font-weight: normal;
	color: white;
}